.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 22px auto 0;
  padding: 30px 71px 30px 70px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 22px auto 60px;
  padding: 30px 53px 31px;
}